<a href="https://colab.research.google.com/github/vinuta2363/collage/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,8,10])
ds2=pd.Series([1,3,7,9])
print("multiply two series: ")
ds=ds1*ds2
print(ds)
print("divide series1 by series2: ")
ds=ds1/ds2
print(ds)

multiply two series:
0     2
1    12
2    56
3    90
dtype: int64
divide series1 by series2:
0    2.000000
1    1.333333
2    1.142857
3    1.111111
dtype: float64

In [ ]:
import pandas as pd
d1={'a':100,'b':200,'c':300}
print(d1)
new_series=pd.Series(d1)
print("converted series")
print(new_series)

{'a': 100, 'b': 200, 'c': 300}
converted series
a    100
b    200
c    300
dtype: int64

In [ ]:
import pandas as pd
S=pd.Series([400,300.12,100,200])
print("original data series: ")
print(S)
new_S=pd.Series(S).sort_values()
print(new_S)

original data series:
0    400.00
1    300.12
2    100.00
3    200.00
dtype: float64
2    100.00
3    200.00
1    300.12
0    400.00
dtype: float64

In [ ]:
import pandas as pd
S=pd.Series(data=[1,2,3],index=['A','B','C'])
print("original data series")
print(S)
S=S.reindex(index=['B','A','C'])
print("data series after changing the order of index: ")
print(S)

original data series
A    1
B    2
C    3
dtype: int64
data series after changing the order of index:
B    2
A    1
C    3
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
sr1=pd.Series([1,2,3])
sr2=pd.Series([2,3,6])
print("original series")
print("sr1")
print(sr1)
print("sr2")
print(sr2)
print("\n items of a given series not present in another given series")
sr11=pd.Series(np.union1d(sr1,sr2))
sr22=pd.Series(np.intersect1d(sr1,sr2))
result=sr11[~sr11.isin(sr22)]
print(result)

original series
sr1
0    1
1    2
2    3
dtype: int64
sr2
0    2
1    3
2    6
dtype: int64

 items of a given series not present in another given series
0    1
3    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj'],'score':[12.5,9]}
labels=['NAME','SCORE']
df=pd.DataFrame(exam_data,index=labels)
print(df)

         name  score
NAME   manish   12.5
SCORE  dhiraj    9.0

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,2.5,9]}
df=pd.DataFrame(exam_data)
print("first three rows of dataframe")
print(df.iloc[:3])

first three rows of dataframe
     name  score
0  manish   12.5
1  dhiraj   91.0
2     man    2.5

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,2.5,9]}
df=pd.DataFrame(exam_data)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("number of rows:"+str(total_rows))
print("number of columns: "+str(total_cols))

number of rows:4
number of columns: 2

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,20.5,19]}
df=pd.DataFrame(exam_data)
print("rows where score between 15$20")
print(df[df['score'].between(15,20)])

rows where score between 15$20
   name  score
3  dhir   19.0

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,20.5,19]}
df=pd.DataFrame(exam_data)
result_sort=df.sort_values(by=['name','score'],ascending=[True,True])
print("sort the 'name' in descending order,then 'score' in ascending order: ")
print(result_sort)

sort the 'name' in descending order,then 'score' in ascending order:
     name  score
3    dhir   19.0
1  dhiraj   91.0
2     man   20.5
0  manish   12.5

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,20.5,19]}
df=pd.DataFrame(exam_data)
df['name']=df['name'].replace('manish','anish')
print(df)

     name  score
0   anish   12.5
1  dhiraj   91.0
2     man   20.5
3    dhir   19.0

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,20.5,19]}
df=pd.DataFrame(exam_data)
medium=['english','hindi','hindi','english']
df['medium']=medium
print("\n new dataframe after inserting the 'medium' column")
import pandas as pd
print(df)

 new dataframe after inserting the 'medium' column
     name  score   medium
0  manish   12.5  english
1  dhiraj   91.0    hindi
2     man   20.5    hindi
3    dhir   19.0  english

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,20.5,19]}
df=pd.DataFrame(exam_data)
df=df.rename(columns={'name':'NAME','score':'SCORE'})
print("new dataframe after renaming columns: ")
print(df)

new dataframe after renaming columns:
     NAME  SCORE
0  manish   12.5
1  dhiraj   91.0
2     man   20.5
3    dhir   19.0

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj','man','dhir'],'score':[12.5,91,20.5,19]}
df=pd.DataFrame(exam_data)
df=df[df.score>=20]
print("new dataframe")
print(df)

new dataframe
     name  score
1  dhiraj   91.0
2     man   20.5

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(['100','200','400'])
s2=pd.Series(['10','20','40'])
print("data series")
print(s1)
print(s2)
df=pd.concat([s1,s2],axis=1)
print("new dataframe combining two series: ")
print(df)

data series
0    100
1    200
2    400
dtype: object
0    10
1    20
2    40
dtype: object
new dataframe combining two series:
     0   1
0  100  10
1  200  20
2  400  40

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(['100','200','400'])
s2=pd.Series(['10','20','40'])
df=pd.concat([s1,s2],axis=1)
print("value of row 4 ")
print(df.iloc[2])

value of row 4
0    400
1     40
Name: 2, dtype: object

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(['100','200','400'])
s2=pd.Series(['10','20','40'])
df=pd.concat([s1,s2],axis=1)
new_col=[1,2,3]
idx=0
df.insert(loc=idx,column='1',value=new_col)
print("\nnew dataframe  ")
print(df)

new dataframe
   1    0   1
0  1  100  10
1  2  200  20
2  3  400  40

In [ ]:
import pandas as pd
s1=pd.Series([5,10,15,20,25])
print(s1)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,40,50])
s.index=['a','b','c','d','e']
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
import pandas as ps
s=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
value=s['c']
print(value)

30

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
max_value=s.max()
print(max_value)

40

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s=s+5
print(s)

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [ ]:
import pandas as pd
fruit_dict={'apple':50,'banana':30,'cherry':20}
fruit_series=pd.Series(fruit_dict)
print(fruit_series)

apple     50
banana    30
cherry    20
dtype: int64

In [ ]:
import pandas as pd
fruit_dict={'apple':50,'banana':30,'cherry':20}
fruit_series=pd.Series(fruit_dict)
filtered_series=fruit_series[fruit_series>25]
print(filtered_series)

apple     50
banana    30
dtype: int64

In [ ]:
import pandas as pd
fruit_dict={'apple':50,'banana':30,'cherry':20}
fruit_series=pd.Series(fruit_dict)
increased_prices=fruit_series*1.2
print(increased_prices)

apple     60.0
banana    36.0
cherry    24.0
dtype: float64

In [ ]:
import pandas as pd
fruit_dict={'apple':60,'banana':30,'cherry':20}
fruit_series=pd.Series(fruit_dict)
new_series=pd.Series({'banana':10,'cherry':5,'date':5})
combined_series=fruit_series+new_series
print(combined_series)

apple      NaN
banana    40.0
cherry    25.0
date       NaN
dtype: float64

In [ ]:
import pandas as pd
numbers=pd.Series([10,20,30,40,50])
mean_value=numbers.mean()
std_dev=numbers.std()
print("mean:",mean_value)
print("standard deviation",std_dev)

mean: 30.0
standard deviation 15.811388300841896

In [ ]:
import pandas as pd
sub1=pd.Series({'alice':88,'bob':78,'charlie':92})
sub2=pd.Series({'alice':88,'bob':82,'david':75})
total_marks=sub1.add(sub2,fill_value=0)
print(total_marks)

alice      176.0
bob        160.0
charlie     92.0
david       75.0
dtype: float64

In [ ]:
import pandas as pd
timestamps=pd.Series(pd.to_datetime(['2025-01-15','2025-05-22','2025-07-14','2025-12-3']))
months=timestamps.dt.month
print(months)
month_names=timestamps.dt.month_name()
print(month_names)

0     1
1     5
2     7
3    12
dtype: int32
0     January
1         May
2        July
3    December
dtype: object

In [ ]:
import pandas as pd
data=pd.Series({'a':10,'b':50,'c':30,'d':40})
max_index=data.idxmax()
print("index of maximum value: ",max_index)

index of maximum value:  b

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
print(df)

    name  age      city
0   rupa   25  bagalkot
1   sita   30   solapur
2  geeta   35  gulbarga

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
df_sort=df.sort_values(by='age',ascending=[False])
print(df)

    name  age      city
0   rupa   25  bagalkot
1   sita   30   solapur
2  geeta   35  gulbarga

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
salary=[50000,60000,70000]
df['salary']=salary
print("new dataframe after inserting new column 'salary'")
print(df)

new dataframe after inserting new column 'salary'
    name  age      city  salary
0   rupa   25  bagalkot   50000
1   sita   30   solapur   60000
2  geeta   35  gulbarga   70000

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
age_above_30=df[df['age']>30]
print(age_above_30)

    name  age      city
2  geeta   35  gulbarga

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
df['city']=df['city'].replace('solapur','bagalkot')
print(df)

    name  age      city
0   rupa   25  bagalkot
1   sita   30  bagalkot
2  geeta   35  gulbarga

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
df=df.drop('city',axis=1)
print(df)

    name  age
0   rupa   25
1   sita   30
2  geeta   35

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
average=df['age'].mean()
print("average",average)

average 30.0

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
is_from_bagalkot=(df['city']=='bagalkot').any()
print("is anyone from bagalkot ?",is_from_bagalkot)

is anyone from bagalkot ? True

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
info1=df[df['name']=='sita']
print(info1)

   name  age     city
1  sita   30  solapur

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga']}
df=pd.DataFrame(data)
count_c=df['city'].value_counts()
print(count_c)

city
bagalkot    1
solapur     1
gulbarga    1
Name: count, dtype: int64

In [ ]:
import pandas as pd
data={'name':['rupa','sita','geeta'],
      'age':[25,30,35],
      'city':['bagalkot','solapur','gulbarga'],
      'salary':[50000,60000,70000]}
df=pd.DataFrame(data)
max_s=df[df['salary']==df['salary'].max()]
print(max_s)

    name  age      city  salary
2  geeta   35  gulbarga   70000

In [ ]:
import numpy as np
arr=np.array([1,2,3,4])
print(arr.sum())
print(arr.mean())
print(arr.max())
print(arr.std())

10
2.5
4
1.118033988749895

In [ ]:
import numpy as np
import random
array=np.random.randint(4,size=(2,2))
print("input array:\n",array)
print("x axis",np.max(array,axis=1))
print("y axis",np.max(array,axis=0))

input array:
 [[0 2]
 [1 1]]
x axis [2 1]
y axis [1 2]

In [ ]:
import numpy as np
import random
array=np.random.randint(4,size=(2,2))
print("input array:\n",array)
print("x axis",np.min(array,axis=1))
print("y axis",np.min(array,axis=0))

input array:
 [[0 0]
 [1 3]]
x axis [0 1]
y axis [0 0]

In [ ]:
import numpy as np
arr=np.array([1,2,3])
print(arr+2)

[3 4 5]

In [ ]:
import numpy as np
arr=np.array([1,2,3])
print(np.sin(arr))

[0.84147098 0.90929743 0.14112001]

In [ ]:
arr=np.array([1,2,3])
arr2=np.array([1,2,3])
print(arr+arr2)

[2 4 6]

In [ ]:
import numpy as np
arr=np.array([1,2,3])
squared=list(map(lambda x:x**2,arr))
print("square",squared)

square [np.int64(1), np.int64(4), np.int64(9)]

In [ ]:
def square(number):
      return number*number
nums= [1,2,3,4]
squared_numbers = list(map(square,nums))
print(squared_numbers)

[1, 4, 9, 16]

In [ ]:
nums1= [1,2,3,4,5,6]
squareOfnums1 = list(map(lambda n:n*n,nums1))
print(squareOfnums1)

[1, 4, 9, 16, 25, 36]

In [ ]:
def is_even(n):
   if n % 2 ==0:
     return True
   else:
    return False
nums = [1,2,3,4]
evens = list(filter(is_even,nums))
print(evens)

[2, 4]

In [ ]:
arr=[1,2,3,4]
even=list(filter(lambda x:x%2==0,arr))
print("even",even)

even [2, 4]

In [ ]:
from functools import reduce
def sum_all(a,b):
   return a+b
nums = [1,2,3,4]
sum = reduce(sum_all,nums)
print(sum)

10

In [ ]:
from functools import reduce
nums=[1,2,3,4,5]
total = reduce(lambda x, y: x + y, nums)
print("Sum using reduce:", total)

Sum using reduce: 15

In [ ]:
nums = [1,2,3,4]
evens = list(filter(lambda n:n%2==0,nums))
print(evens)

[2, 4]

In [ ]:
import pandas as pd
data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(data)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
import pandas as pd
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['Delhi', 'Mumbai', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)

      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [ ]:
import pandas as pd
# list of strings
lst = ['Apple', 'Mango', 'Banana', 'Pine Apple', 'Grapes', 'Watermelon']
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

            0
0       Apple
1       Mango
2      Banana
3  Pine Apple
4      Grapes
5  Watermelon

In [ ]:
import pandas as pd
# intialise data of lists.
data ={'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}
# Create DataFrame
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [ ]:
import pandas as pd
data = {
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
 'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
 'Age': [25, 30, 28, 32, 40, 38]
}
df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Age
0         HR    Alice   50000   25
1         HR      Bob   55000   30
2         IT  Charlie   60000   28
3         IT    David   65000   32
4    Finance      Eva   70000   40
5    Finance    Frank   72000   38

In [ ]:
import pandas as pd
data = {
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
 'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
 'Age': [25, 30, 28, 32, 40, 38]
}
df = pd.DataFrame(data)
print(df['Salary'].mean())
# Max age
print(df['Age'].max())

62000.0
40

In [ ]:
import pandas as pd
data = {
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
 'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
 'Age': [25, 30, 28, 32, 40, 38]
}
df = pd.DataFrame(data)
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    71000.0
HR         52500.0
IT         62500.0
Name: Salary, dtype: float64

In [ ]:
import pandas as pd
data = {
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
 'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
 'Age': [25, 30, 28, 32, 40, 38]
}
grouped = df.groupby('Department')['Salary'].agg(['mean', 'max', 'min'])
print(grouped)

               mean    max    min
Department
Finance     71000.0  72000  70000
HR          52500.0  55000  50000
IT          62500.0  65000  60000

In [ ]:
import pandas as pd
data = {
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
 'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
 'Age': [25, 30, 28, 32, 40, 38]
}
df=pd.DataFrame(data)
df['Location'] = ['Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi']
# Group by Department and Location
grouped = df.groupby(['Department', 'Location'])['Salary'].mean()
print(grouped)

Department  Location
Finance     Delhi       72000.0
            Mumbai      70000.0
HR          Delhi       55000.0
            Mumbai      50000.0
IT          Delhi       65000.0
            Mumbai      60000.0
Name: Salary, dtype: float64

In [ ]:
import pandas as pd
data = {
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
 'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
 'Age': [25, 30, 28, 32, 40, 38]
}
df=pd.DataFrame(data)
result = df.groupby('Department').agg({'Salary': 'mean',
                                       'Age': ['min', 'max']
})
print(result)

             Salary Age
               mean min max
Department
Finance     71000.0  38  40
HR          52500.0  25  30
IT          62500.0  28  32

In [ ]:
import pandas as pd
d1 = {"Name": ["Pankaj", "Lisa", "David"], "ID": [1, 2, 3], "Role": ["CEO", "Editor", "Author"]}
df = pd.DataFrame(d1)
print(df)
df_melted = pd.melt(df, id_vars=["ID"],
value_vars=["Name", "Role"])
print(df_melted)

     Name  ID    Role
0  Pankaj   1     CEO
1    Lisa   2  Editor
2   David   3  Author
   ID variable   value
0   1     Name  Pankaj
1   2     Name    Lisa
2   3     Name   David
3   1     Role     CEO
4   2     Role  Editor
5   3     Role  Author

In [ ]:
data = {
 'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
 'City': ['Mumbai', 'Delhi', 'Mumbai', 'Delhi'],
 'Temperature': [33, 28, 34, 27]
}
df = pd.DataFrame(data)
print("Original:\n", df)
# Pivot the data
pivoted = df.pivot(index='Date', columns='City', values='Temperature')
print("\nPivoted:\n", pivoted)

Original:
          Date    City  Temperature
0  2024-01-01  Mumbai           33
1  2024-01-01   Delhi           28
2  2024-01-02  Mumbai           34
3  2024-01-02   Delhi           27

Pivoted:
 City        Delhi  Mumbai
Date
2024-01-01     28      33
2024-01-02     27      34

In [ ]:
import pandas as pd
# Create a sample DataFrame
data = {
 'Student': ['Alice', 'Bob', 'Charlie'],
 'Math': [85, 90, 78],
 'Science': [92, 88, 85],
 'English': [75, 80, 72]
}
df = pd.DataFrame(data)
print("Original Wide DataFrame:\n", df)

Original Wide DataFrame:
    Student  Math  Science  English
0    Alice    85       92       75
1      Bob    90       88       80
2  Charlie    78       85       72

In [ ]:
df = pd.read_csv('/content/STUDENTS1.csv')
# Writing to CSV
df.to_csv('output.csv', index=False)
print (df)

      NAME    REGNO  S1  S2
0  SANJANA  23CS043  87  99
1   SIMRAN  23CS055  85  98

In [ ]:
import pandas as pd
data = {
 'Student': ['Alice', 'Bob', 'Charlie'],
 'Math': [85, 90, 78],
 'Science': [92, 88, 85],
 'English': [75, 80, 72]
}
df = pd.DataFrame(data)
melted_df = pd.melt(df,
                    id_vars=['Student'], # Columns to keep (not melted)
                    var_name='Subject',# Name of the new "variable" column
                     value_name='Marks')# Name of the new "value" column
print("\nMelted Long DataFrame:\n", melted_df)

Melted Long DataFrame:
    Student  Subject  Marks
0    Alice     Math     85
1      Bob     Math     90
2  Charlie     Math     78
3    Alice  Science     92
4      Bob  Science     88
5  Charlie  Science     85
6    Alice  English     75
7      Bob  English     80
8  Charlie  English     72

In [ ]:
import pandas as pd
import numpy as np
# Generate date range (10 daily periods starting from Jan 1, 2024)
dates = pd.date_range(start='2024-01-01', periods=10, freq='D')
# Create a time series
ts = pd.Series(np.random.randint(100, 200, size=10), index=dates)
print(ts)

2024-01-01    111
2024-01-02    174
2024-01-03    190
2024-01-04    160
2024-01-05    128
2024-01-06    120
2024-01-07    183
2024-01-08    138
2024-01-09    156
2024-01-10    136
Freq: D, dtype: int64

In [ ]:
import pandas as pd
df = pd.DataFrame({
 'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
 'Value': [120, 135, 150]
})
# Convert string to datetime
df['Date'] = pd.to_datetime(df['Date'])
print(df)

        Date  Value
0 2024-01-01    120
1 2024-01-02    135
2 2024-01-03    150

In [ ]:
import pandas as pd
df = pd.DataFrame({
 'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
 'Value': [120, 135, 150]
})
df.set_index('Date', inplace=True)
print(df)

            Value
Date
2024-01-01    120
2024-01-02    135
2024-01-03    150

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce
# Sample DataFrame
df = pd.DataFrame({
 'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 32, 30, 29],
 'Salary': [50000, 60000, 55000, 52000]
})
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   32   60000
2  Charlie   30   55000
3    David   29   52000

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce
# Sample DataFrame
df = pd.DataFrame({
 'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 32, 30, 29],
 'Salary': [50000, 60000, 55000, 52000]})
df['Updated_Salary'] = df['Salary'].apply(lambda x: x * 1.10)
# Categorize Age
df['Age_Group'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Adult')
print(df['Updated_Salary'])
print(df['Age_Group'])

0    55000.0
1    66000.0
2    60500.0
3    57200.0
Name: Updated_Salary, dtype: float64
0    Young
1    Adult
2    Adult
3    Young
Name: Age_Group, dtype: object

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce
# Sample DataFrame
df = pd.DataFrame({
 'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 32, 30, 29],
 'Salary': [50000, 60000, 55000, 52000]})
df['Name_Upper'] = df['Name'].map(lambda x: x.upper())
print(df['Name_Upper'])

0      ALICE
1        BOB
2    CHARLIE
3      DAVID
Name: Name_Upper, dtype: object

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce
# Sample DataFrame
df = pd.DataFrame({
 'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 32, 30, 29],
 'Salary': [50000, 60000, 55000, 52000]})
salary_levels = {50000: 'Low',55000: 'Medium', 60000: 'High'}
df['Salary_Level'] = df['Salary'].map(salary_levels)
print(df['Salary_Level'])

0       Low
1      High
2    Medium
3       NaN
Name: Salary_Level, dtype: object

In [ ]:
import pandas as pd
import numpy as np
#from functools import reduce
# Sample DataFrame
df = pd.DataFrame({
 'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 32, 30, 29],
 'Salary': [50000, 60000, 55000, 52000]})
filtered_df = df[df['Salary'] > 52000]
filtered_df2= df[df['Name'].apply(lambda x: x.startswith('A'))]
print(filtered_df)
print(filtered_df2)

      Name  Age  Salary
1      Bob   32   60000
2  Charlie   30   55000
    Name  Age  Salary
0  Alice   25   50000

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 32, 30, 29]})
df['Name_Age'] = df.apply(lambda row: reduce(lambda a, b: str(a) + '_' + str(b), [row['Name'], row['Age']]),
axis=1)
print(df['Name_Age'])

0      Alice_25
1        Bob_32
2    Charlie_30
3      David_29
Name: Name_Age, dtype: object

In [ ]:
import pandas as pd
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['Delhi', 'Mumbai', 'Bangalore']
}
df = pd.DataFrame(data)
print(df['Name'])
print(df.loc[0])
print(df.iloc[1])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Name    Alice
Age        25
City    Delhi
Name: 0, dtype: object
Name       Bob
Age         30
City    Mumbai
Name: 1, dtype: object

In [ ]:
import pandas as pd
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['Delhi', 'Mumbai', 'Bangalore']
}
df=pd.DataFrame(data)
filtered = df[df['Age'] > 25]
df['Age'] = df['Age'] + 1
print(df['Age'])
print(filtered)

0    26
1    31
2    36
Name: Age, dtype: int64
      Name  Age       City
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [ ]:
import pandas as pd
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['Delhi', 'Mumbai', 'Bangalore']
}
df=pd.DataFrame(data)
df['Salary'] = [50000, 60000, 70000]
print(df['Salary'])

0    50000
1    60000
2    70000
Name: Salary, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
# Generate date range (10 daily periods starting from Jan 1, 2024)
dates = pd.date_range(start='2024-01-01', periods=10, freq='D')
# Create a time series
ts = pd.Series(np.random.randint(100, 200, size=10), index=dates)
print(ts['2024-01-04'])
# Get a range of days
print(ts['2024-01-03':'2024-01-07'])
# Get a whole month
print(ts['2024-01'])

130
2024-01-03    190
2024-01-04    130
2024-01-05    168
2024-01-06    197
2024-01-07    138
Freq: D, dtype: int64
2024-01-01    124
2024-01-02    193
2024-01-03    190
2024-01-04    130
2024-01-05    168
2024-01-06    197
2024-01-07    138
2024-01-08    116
2024-01-09    153
2024-01-10    196
Freq: D, dtype: int64